# Dependency directories
/node_modules

# Build output directories
/dist
/out
/build

# Environment variables
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
